@import 'src/index.scss';

.headerTopText {
  position: absolute;
  top: 159px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  .textBlock {
    width: 1122px;
    height: 372px;
    text-transform: uppercase;

    & p {
      @include setFontStyles('Syne', normal, 800, 48px, 58px);
      color: $basicWhiteColor;
    }

    & h3 {
      @include setFontStyles('Syne', normal, 800, 310px, 372px);
      color: $basicWhiteColor;
    }

  }
}
