@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&family=Inter:wght@200;300;400;500&family=Karla:wght@700&family=Mulish:wght@300&family=Playfair+Display:wght@700&family=Roboto:wght@300;400;500;700&family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&family=Inter:wght@200;300;400;500&family=Karla:wght@700&family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Mulish:wght@300&family=Playfair+Display:wght@700&family=Roboto:wght@300;400;500;700&family=Syne:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$basicWhiteColor: #FFFFFF;

@mixin setFontStyles($fontFamily, $fontStyle, $fontWeight, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}
